*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.app {
  height: 80vh;
  color: #cccbbb;
  margin: 10rem;
  background-image: linear-gradient(to left, #222, #888);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .app {
    margin: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .app {
    margin: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .app {
    margin: 1rem;
  }
}

@media screen and (max-width: 435px) {
  body {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 384px) {
  body {
    font-size: 1.2rem;
  }

  .app {
    margin: 0;
  }
}
